@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6d9cd;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hover-slide-left {
  @apply transform transition-transform duration-500 hover:-translate-x-8;
}
